body {
	text-align: center;
}
.wrapper {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	font-size: 60px;
}
header {
	background-image: url();
}
.strangle {
	max-width: 300px;
}
.slogan {
	font-size: 25px;
	font-style: italic;
	color: #aaa;
}
button {
	background: red;
	border-radius: 10px;
	padding: 10px;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}
hr {
	border: 0;
	border-bottom: 1px solid #eee;
}
time {
	font-weight: bold;
}
.rants h3 {
	text-align: left;
}
.rants li {
	text-align: left;
	background: #eee;
	display: block;
	padding: 10px;
	margin-bottom: 5px;
}
.rant {
	font-style: italic;
	font-family: Georgia;
	line-height: 1.4em;
	font-size: 18px;
}
li {
	list-style: none;
}
.signed, .others {
	text-align: right;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial, sans-serif;
}
.copyright {
	color: #888;
	font-size: 14px;
	margin-top: 20px;
}