body {
	text-align: center;
}
.wrapper {
	width: 95%;
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	font-size: 80px;
	margin: 30px 10px 10px;
	font-family: 'Amatic SC', cursive;
}
.strangle {
	width: 400px;
	margin: 20px auto 35px auto;
	display: block;
}
.fist {
	width: 40px;
	display: inline-block;
	margin: 0 10px;
}
.slogan {
	font-size: 25px;
	color: #aaa;
	margin-bottom: 30px;
	margin-top: 0;
	font-family: Georgia;
	font-style: italic;
}
button {
	background: red;
	border-radius: 10px;
	padding: 10px;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
	font-family: Arial, sans-serif;
	font-size: 20px;
}
hr {
	border: 0;
	border-bottom: 1px solid #eee;
}
time {
	font-weight: bold;
}
.rants h3 {
	margin: 30px auto;
	color: red;
}
.rants li {
	text-align: left;
	background: #FFD7D7;
	display: block;
	padding: 30px;
	margin-bottom: 1px;
}
.rant {
	font-style: italic;
	font-family: Georgia;
	line-height: 1.4em;
	font-size: 18px;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
.signed, .others {
	text-align: right;
	font-weight: normal;
	font-size: 13px;
	font-family: Arial, sans-serif;
	margin: 0.2em;
}
.signed {
	font-weight: bold;
}
.fa {
	color: red;
}
.copyright {
	color: #888;
	font-size: 14px;
	margin-top: 20px;
}